/*

  Color Palette: (Ben: totally up to change this. I just searched a couple color hexes and put them here)
  shell-white background: #e3ded9
  Orange red: #be3400
  Dark Navy: #020d22
  Forest Green: #015045\

  Colors used in rubric table:
  light-sea green: #C8D6CA;
  Light green, spring: #99BFAA;
  perriwinkle blue: #99BFAA;
  mauve: #e3ded9
*/

@import url("https://fonts.googleapis.com/css?family=Inconsolata");

@font-face {
  font-family: "Bespoke-R40K4cJxyk";
  src: url("https://cdn.glitch.com/e65c6bfb-f5bf-4ddf-a967-53a0e911a960%2FBespoke-R40K4cJxyk.eot?v=1598689300115");
  src: url("https://cdn.glitch.com/e65c6bfb-f5bf-4ddf-a967-53a0e911a960%2FBespoke-R40K4cJxyk.eot?v=1598689300115?#iefix")
      format("embedded-opentype"),
    url("https://cdn.glitch.com/e65c6bfb-f5bf-4ddf-a967-53a0e911a960%2FBespoke-R40K4cJxyk.woff?v=1598689300606")
      format("woff"),
    url("https://cdn.glitch.com/e65c6bfb-f5bf-4ddf-a967-53a0e911a960%2FBespoke-R40K4cJxyk.ttf?v=1598689300806")
      format("truetype"),
    url("https://cdn.glitch.com/e65c6bfb-f5bf-4ddf-a967-53a0e911a960%2FBespoke-R40K4cJxyk.svg?v=1598689303109")
      format("svg");
}

html {
  background-color: #e3ded9;
}


body {
  font-family: "Inconsolata";
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 12pt;
  line-height: 20pt;
}

h1, h2, h3, h4 {
  /* color: #373fff; */
  color: #020d22;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.nav-container ul, #sub-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
  #sub-nav ul li a{
    color: #015045;
  }

.nav-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #020d22;
  /* background-color: lime; */
}
  .nav-container > div {
    margin: 5px;
    padding: 10px;
    text-align: center;
    font-size: 24px;
  }
  .nav-container a {
    color: #e3ded9;
    text-decoration: none;
  }
    .nav-container a:hover {
      background-color: rgba(255, 255, 255, .2);
    }  

.main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
}
  .main-container > div {
    padding: 30px;
  }
  .main-container .front-page-image {
    width: 90vw;
  }

#sub-nav {
  flex: 1;
  margin-top: 2%;
  margin-bottom: 2%;
}

#main-panel {
  flex: 2.5;
}
  .main-panel__schedule-table {
    display: grid;
    grid-template-columns: 20% auto;
    grid-row-gap: 1.5em;
  }
    .main-panel__schedule-table div:nth-child(odd) {
      font-weight: bold;
    }
  
  #main-panel .syllabus__gradeHolder {
    display: grid;
    grid-template-columns: 20% auto;
  }
    #main-panel .syllabus__gradeHolder div:nth-child(odd) {
      font-weight: bold;
    }
    /* ===============================================    Grade Rubric Layout */
  #main-panel .syllabus__rubricTable {
    display: grid;
    grid-template-columns: 8% auto auto auto auto;
    grid-column-gap: 1px;
  }
    #main-panel .syllabus__rubricTable div {
      padding: .5em;
      border-bottom: 1px #020d22 solid;
    }
    #main-panel .syllabus__rubricTable div:nth-child(5n) {
      background-color: #5c3d46;
      color: #e3ded9;
    } /* Excellent */
    #main-panel .syllabus__rubricTable div:nth-child(5n-1) {
      background-color: #5c868d;
    } /* Good */
    #main-panel .syllabus__rubricTable div:nth-child(5n-2) {
      background-color: #99BFAA;
    } /* SATISFACTORY */
    #main-panel .syllabus__rubricTable div:nth-child(5n-3) {
      background-color: #C8D6CA;
    } /* Needs Improvement */
    #main-panel .syllabus__rubricTable div:nth-child(5n-4) {
      border-left: solid 1px #020d22;
      font-weight: bold;
    }
    
    #main-panel .syllabus__rubricTable div:nth-child(-n+5) {
      background-color: #020d22;
      color: #e3ded9;
      font-weight: bold;
      } /* table headers */

  /* ============================================ Main Image Layout */
  #main-panel .resource_image, #main-panel img {
    width: 90%;
  }

  /* ==================================== Only used on PeopleC.html at the moment */
  #main-panel ul.portfolioLayout {
    width: 50%;
    list-style: none;
  }
  #main-panel ul.portfolioLayout li {
    display: inline-block;
    width: 30%;
  }
    #main-panel ul.portfolioLayout li a {
      color: #020d22;
      display: inline-block;
      width: 100%;
      height: 100%;
      font-size: 2em;
      line-height: 1.75;
      text-align: center;
    }
      #main-panel ul.portfolioLayout li:hover:nth-child(4n-1) {
        background-color: #99BFAA;
      }
      #main-panel ul.portfolioLayout li:hover:nth-child(4n-2) {
        background-color: #5c868d;
      }
      #main-panel ul.portfolioLayout li:hover:nth-child(4n-3) {
        background-color: #C8D6CA;
      }
      #main-panel ul.portfolioLayout li:hover:nth-child(4n) {
        background-color: #5c3d46;
      }

#home-panel {
  flex: 1;
}
